<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="daoBanque" class="com.myapp.com.myapp.gestiondecompte.dao.banque"></bean>
	
	<bean id="metierBanque" class="com.myapp.com.myapp.gestiondecompte.metier.banque">
		<property name="dao" ref="daoBanque"></property>
	</bean>
	
	<bean id="daoClient" class="com.myapp.com.myapp.gestiondecompte.dao.client"></bean>
	
	<bean id="metierClient" class="com.myapp.com.myapp.gestiondecompte.metier.client">
		<property name="idao" ref="daoClient"></property>
	</bean>
	
	<bean id="idDaoCompte" class="com.myapp.com.myapp.gestiondecompte.dao.compte"></bean>
	
	<bean id="metierCompte" class="com.myapp.com.myapp.gestiondecompte.metier.compte">
		<property name="daoCompte" ref="idDaoCompte"></property>
	</bean>
	
	<bean id="idDaoEmploye" class="com.myapp.com.myapp.gestiondecompte.dao.employe"></bean>
	
	<bean id="metierCompte" class="com.myapp.com.myapp.gestiondecompte.metier.employe">
		<property name="dao" ref="idDaoEmploye"></property>
	</bean>
	
	<bean id="idDaoGroupe" class="com.myapp.com.myapp.gestiondecompte.dao.groupe"></bean>
	
	<bean id="metierCompte" class="com.myapp.com.myapp.gestiondecompte.metier.groupe">
		<property name="idao" ref="idDaoGroupe"></property>
	</bean>
	
	<bean id="idDaoOperation" class="com.myapp.com.myapp.gestiondecompte.dao.operation"></bean>
	
	<bean id="metierCompte" class="com.myapp.com.myapp.gestiondecompte.metier.operation">
		<property name="daoOperation" ref="idDaoOperation"></property>
	</bean>

</beans>
